<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Пиццы </title>
</head>
<body>
    <p>
        <img src="4сезона.jpg" width="120" height="100">
        <img src="гавайская.jpg" width="120" height="100">
        <img src="итальянская.jpg" width="120" height="100">
        <img src="маргарита.jpg" width="120" height="100">
        <img src="мексиканская.jpg" width="120" height="100">
        <img src="морская.jpg" width="120" height="100">
        <img src="мясная.jpg" width="120" height="100">
        <img src="пепперони.jpg" width="120" height="100">
        <img src="сальса.jpg" width="120" height="100">
        <img src="сырная.jpg" width="120" height="100">
    </p>
</body>
</html>